.App {
  text-align: center;
}

.App-header {
  background-color: #fafafb;
  height: 5px;
  padding: 20px;
  color: black;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  border-top: 3px solid #F48024;
}

.App-title {
  font-size: 1.5em;
  flex-direction: 'flex-start';
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
